/* FONTS
    font-family: 'Goudy Bookletter 1911', serif;
    font-family: 'Inter', sans-serif;
*/


* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    line-height: 2em;
}

h1 {
    font-family: 'Goudy Bookletter 1911', serif;
    margin: 0;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 3em;
    font-weight: 800;
    margin: 0.1em;
}

h3 {
    color: #e65c00;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    font-weight: 800;
}

hr {
    margin-bottom: 1.5em;
}

button {
    padding: 1em;
    border-style: none;
    border-radius: 0;
    color: #FFFFFF;
    background-color: #000033;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #e65c00;
}

#container {
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#main-content {
    display: flex;
    justify-content: space-between;
}

#main-content-left {
    display: flex;
    flex-direction: column;
}

#main-content-banner {
    display: flex;
    justify-content: space-between;
}

#main-content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2em 1.5em 2em;
    background-color: #000033;
}

#main-content-right p {
    color: #FFFFFF;
}

#main-content-right a {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
}

#main-content-right a:hover {
    color: #e65c00;
}

.top-sellers-image img {
    width: 7em;
    height: auto;
}

.top-sellers-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 1em 1em;
}

.top-sellers-number {
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    font-weight: 800;
    color: #999999;
}

.top-sellers-name a {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    text-decoration: none;
    color: #000000;
}

.top-sellers-name a:hover {
    color: #e65c00
}

.top-sellers-description {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

#top-sellers-1 {
    display: flex;
    justify-content: space-between;
}

#top-sellers-2 {
    display: flex;
    justify-content: space-between;
}

#top-sellers-3 {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 3em;
    }

    header {
        padding: 1em 0;
    }

    #container {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    #header-title-mobile {
        width: 80%;
    }

    #header-title-desktop {
        display: none;
    }
    
    #header-desktop-nav {
        display: none;
    }

    #banner-image-mobile {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    #banner-image-desktop {
        display: none;
    }

    #main-content {
        flex-direction: column;
    }

    #main-content-banner {
        flex-direction: column;
        margin-top: 1em;
    }

    #main-content-right {
        margin-top: 3em;
    }

    #top-sellers-1 {
        margin-top: 1em;
    }

    #top-sellers-2 {
        margin-top: 1em;
    }

    #top-sellers-3 {
        margin-top: 1em;
    }

}

@media screen and (min-width: 600px) {

    h1 {
        font-size: 4em;
        line-height: 1;
    }

    #container {
        width: 70%;
        display: grid;
        grid-template-rows: 7em 1fr 0.2fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    header {
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
    }

    #header-title-mobile {
        display: none;
    }

    #header-title-desktop {
        width: 40%;
    }

    #header-desktop-nav {
        display: flex;
        justify-content: space-between;
        width: 35%;
    }
    
    #header-desktop-nav a:link, #header-desktop-nav a:visited {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 1.1em;
        color: #000033;
        text-decoration: none;
    }
    
    #header-desktop-nav a:hover, #header-desktop-nav a:active {
        color: #e65c00;
    }

    #main-content {
        grid-column: 1 / span 4;
        grid-row: 2 / span 1;
        padding-top: 2em;
        margin-bottom: 3em;
    }

    #main-content-left {
        width: 60%;
    }

    #main-content-banner {
        padding: 2em 0 0 0;
    }

    #main-content-banner-header {
        width: 50%;
        text-align: left;
    }

    #main-content-banner-description {
        width: 40%;
    }

    #banner-image-desktop {
        display: block;
    }

    #banner-image-mobile {
        display: none;
    }

    #main-content-right {
        margin-left: 2em;
    }

    #top-sellers-1 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    #top-sellers-2 {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    #top-sellers-3 {
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
    }
}